<div class="row">
  <div class="col-xs-12">
    <img src="{{recipeDetails.path}}" alt="" class="img-responsive" style="max-height:300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeDetails.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style = "cursor: pointer;"
          (click) = "this.onAddToShoppingList()"
          >To Shopping List</a></li>
        <li><a style = "cursor: pointer;" (click) = "this.onEditRecipe()">Edit Recipe</a></li>
        <li><a style = "cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipeDetails.desc}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeDetails.ingredient">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
